<h1>Ready to get shit done,  <%= current_user.username%>?</h1>
<a href="/tasks/new">Add Task</a> <a href="/logout">Log Out</a>
<%#insert Ben here%>

<ol><h3>Urgent Tasks:</h3>
  <%urgent_tasks = current_user.tasks.find_all{|task| task.urgency == "urgent"}%>
  <%if !urgent_tasks.empty?%>
    <%urgent_tasks.each do |task|%>
      <li>
        <h4><%=task.name%></h4>
        <a href="/tasks/<%=task.id%>/edit">Edit</a>
        <form action="/tasks/<%=task.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Mark Complete">
        </form>
      </li>
    <%end%>
  <%else%>
    <h4>You have no urgent tasks.</h4>
  <%end%>
</ol>

<ol><h3>Less Urgent Tasks:</h3>
  <%less_urgent_tasks = current_user.tasks.find_all {|task| task.urgency == "less_urgent"}%>
  <%if !less_urgent_tasks.empty?%>
    <%less_urgent_tasks.each do |task|%>
      <li>
        <h4><%=task.name%></h4>
        <a href="/tasks/<%=task.id%>/edit">Edit</a>
        <form action="/tasks/<%=task.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Mark Complete">
        </form>
      </li>
    <%end%>
  <%else%>
    <h4>You have no less urgent tasks.</h4>
  <%end%>
</ol>

<ol><h3>Unurgent Tasks:</h3>
  <%unurgent_tasks = current_user.tasks.find_all {|task| task.urgency == "unurgent"}%>
  <%if !unurgent_tasks.empty?%>
    <%unurgent_tasks.each do |task|%>
      <li>
        <h4><%=task.name%></h4>
        <a href="/tasks/<%=task.id%>/edit">Edit</a>
        <form action="/tasks/<%=task.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Mark Complete">
        </form>
      </li>
    <%end%>
  <%else%>
    <h4>You have no less urgent tasks.</h4>
  <%end%>
</ol>
